In [1]:
import pandas as pd

In [2]:
backer_info_data = pd.read_csv("backer_info.csv")
backer_info_data.head()

                                         backer_info
0  {"backer_id": "av166", "cf_id": 968, "name": "...
1  {"backer_id": "ha127", "cf_id": 563, "name": "...
2  {"backer_id": "lg794", "cf_id": 65, "name": "L...
3  {"backer_id": "tb566", "cf_id": 563, "name": "...
4  {"backer_id": "lh506", "cf_id": 563, "name": "...

In [3]:
backer_info_data["backer_info"]

0       {"backer_id": "av166", "cf_id": 968, "name": "...
1       {"backer_id": "ha127", "cf_id": 563, "name": "...
2       {"backer_id": "lg794", "cf_id": 65, "name": "L...
3       {"backer_id": "tb566", "cf_id": 563, "name": "...
4       {"backer_id": "lh506", "cf_id": 563, "name": "...
                              ...
8170    {"backer_id": "st581", "cf_id": 65, "name": "S...
8171    {"backer_id": "gf637", "cf_id": 563, "name": "...
8172    {"backer_id": "rc983", "cf_id": 1114, "name": ...
8173    {"backer_id": "cz381", "cf_id": 65, "name": "C...
8174    {"backer_id": "fg535", "cf_id": 65, "name": "F...
Name: backer_info, Length: 8175, dtype: object

In [4]:
backer_info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

In [5]:
backer_info_df = pd.DataFrame([eval(l) for l in list(backer_info_data["backer_info"])])
backer_info_df.head()

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com

In [6]:
backer_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [7]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
backer_info_df[["first_name","last_name"]] = backer_info_df["name"].str.split(' ', n=1, expand=True)
backer_info_df

# Drop the name column. 
backer_info_clean = backer_info_df.drop(['name'], axis=1)

backer_info_clean = backer_info_clean[['backer_id', 'cf_id', 'first_name', 'last_name', 'email']]
backer_info_clean.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [9]:
backer_info_clean.to_csv('backers.csv')